$breakpoint-mobile: 1023px;
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1400px;


$color-background: #F0F0F7;
$color-primary: #018247;
$color-primary-light: #7EB218;

$color-link: #018247;

$font-custom: 'Roboto', sans-serif;

$border-color: #7eb218;
$border-input: 2px solid $border-color;
